.progress-bar{width:79%; }
.progress{width:80%; align:left; margin-top: 7px; }
.skill-title{text-align: left; color:white;}
.skill-progress{height:50px;}
.card1{
  padding-top: 30px;
  width:100%;
     border:none;
          float: none;
background-color: black;
          /* background-color: #000000;
          background-image: linear-gradient(315deg, #000000 0%, #7f8c8d 74%); */
}

.card-body
{
  margin-top:0;
  /* background-color: black; */
}
.con2
{
  margin-top:0px;
}
.card-header
{
  /* background-color: black; */
  height:50px;
  color: white;
  font-size: 20px;
  /* padding-top: 30px; */
}
