.progress-bar {
  width: 79%;
}
.progress {
  width: 80%;
  text-align: left;
  margin-top: 7px;
}
.skill-title {
  text-align: left;
  color: white;
}
.skill-progress {
  height: 50px;
}
.card1 {
  padding-top: 30px;
  width: 100%;
  border: none;
  float: none;
}

.card-body {
  margin-top: 0;
}

.card-header{
  text-align: center;
}

.con2 {
  margin-top: 0px;
}
.card-header {
  height: 50px;
  color: white;
  font-size: 20px;
}

.progress {
  border-radius: 0;
  color: #90ee90;
}
.progress-bar {
  background: #deb887;
  color: black;
  font-weight: bold;
}

.card{
  background-color: none !important;
}
