.Certifications {
  /* background-color: #000000;
  background-image: linear-gradient(147deg, #000000 0%, #434343 74%); */
  padding-bottom: 10px;
  color: black;
}

.progress5 {
  margin-bottom: 10px;
}
.skill-progress {
  height: 20%;
}
.progress5 .skill {
  font: normal 12px "Open Sans Web";
  line-height: 32px;
  padding: 0;
  margin: 0 0 0 20px;
  text-transform: uppercase;
}

.progress5 .skill .val {
  float: right;
  font-style: normal;
  margin: 0 20px 0 0;
}
.title {
  color: black;
}
.progress-bar {
  text-align: center;
}
.cert {
  margin: 5%;
  height: 85%;
  width: 80%;
  transition: 0.3s;
  border-radius: 25px;
  background-color: #f9fcff;
  background-image: linear-gradient(147deg, #f9fcff 0%, #dee4ea 74%);
}
.lang {
  margin-top: 4.9%;
  margin-bottom: 5%;
  margin-left: 5%;
  margin-right: 5%;
  height: 85%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 25px;
  background-color: #aecad6;
  background-image: linear-gradient(315deg, #aecad6 0%, #b8d3fe 74%);
}
.cert1 {
  height: 10%;
}
.cert:hover,
.lang:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.Name1 {
  color: black;
  font-weight: 900px;
  font-size: 30px;
  padding-top: 4px;
  font-family: cursive;
}

.certifications {
  color: black;
}

.title {
  color: black;
}

.lang {
  /* From https://css.glass */
background: rgba(179, 167, 167, 0.22);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(0px);
-webkit-backdrop-filter: blur(0px);
border: 1px solid rgba(179, 167, 167, 0.3);
}

.cert {
/* From https://css.glass */
background: rgba(179, 167, 167, 0.22);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(0px);
-webkit-backdrop-filter: blur(0px);
border: 1px solid rgba(179, 167, 167, 0.3);
}

.card-header {
  border-bottom: none;
}

.mainrow{
  width:100%;
}

.certbody{
  text-align: center;
}

@media screen and (max-width: 600px) {
  .card-cert{
    margin-left: 3rem;
  }

  .col2{
    padding-right:0;
    margin-left: 2rem;
  }
}

.lang:hover {
    transform: scale(1.1); 
}

.cert:hover {
  transform: scale(1.1);
}